<div class="card" style="width: 20rem">
  <img src="<%= user.image %>" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">Name:<%= user.fullname %></h5>
  
    <% if(user.email === " ") { %>
    <form action="/addemail" method="post">
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Email:</span
        >
        <input
          type="email"
          placeholder="enter the email"
          name="email"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
          required
        />
        <button type="submit" class="btn mx-2 btn-success">Add Email</button>
      </div>
    </form>
    <% } else { %>
    <p class="card-text">Email:<%= user.email %></p>

    <% } %>
    <% if(user.phone == " ") { %>
      <form action="/addphone" method="post">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Phone:</span
          >
          <input
            type="number"
            placeholder="enter the phone number"
            name="phone"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            required
          />
          <button type="submit" class="btn mx-2 btn-success">Add phone</button>
        </div>
      </form>
      <% } else { %>
      <p class="card-text">Phone:<%= user.phone %></p>
  
      <% } %>
      <% if(user.location == " ") { %>
        <form action="/addlocation" method="post">
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default"
              >Location:</span
            >
            <input
              type="text"
              placeholder="enter your location"
              name="location"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default"
              required
            />
            <button type="submit" class="btn mx-2 btn-success">Add Location</button>
          </div>
        </form>
        <% } else { %>
        <p class="card-text">Location:<%= user.location %></p>
    
        <% } %>
    

  </div>
  

</div> 

 <div class="container">
  <h1>My Posts</h1>
  
  <% if(posts.length != 0) {%>

    <% posts.forEach((element , index , array)=>{ %>
    <div class="media">
      <img src="<%= user.image %>" alt="user-image" class="mr-3 post-user-pic">
      <div class="media-body">
        <h3 class="mt-0"><%= user.fullname %></h3>
        <h4><%= element.title %> <small class="red">(<%= element.status %> Post)</small></h4>
        <p><%= element.body %></p>
        <small><%= element.date %></small>
        <br>
        <p><a href="/editpost/<%= element._id %>"><i class="fa fa-pencil">   Edit Post</i></a></p>
        <form action="/<%= element._id %>?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
        </form>
      </div>
    </div>
    <hr>
  <% }) %>
  <% }else{ %>
    <p>No posts found....</p>
    <% } %>
 </div>